// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}

// Custom styling for aux-links
.aux-nav .aux-nav-list .site-button {
  font-size: 3em !important; // Adjust the size as needed
  font-weight: bold !important; // Optional: makes the text bold
  padding: 10px 20px; // Add padding for button effect
  display: inline-block; // Ensure it behaves like a button
  text-align: center; // Center the text
}

// Custom styling for the search box placeholder
input[type="search"]::placeholder {
  font-size: 3em !important; // Ensure the search box placeholder text is larger
}

input[type="search"] {
  font-size: 3em !important; // Ensure the search box text is larger
}
