<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include icons/icons.html %}
  <div class="main-container">
    {% include custom_sidebar.html %}
    <main class="main-content">
      {% include components/header.html %}
      {% include components/breadcrumbs.html %}

      {% if site.heading_anchors != false %}
        {% include vendor/anchor_headings.html %}
      {% else %}
        {{ content }}
      {% endif %}

      {% if page.has_children == true and page.has_toc != false %}
        {% include components/children_nav.html %}
      {% endif %}

      {% include components/footer.html %}

      {% if site.search_enabled != false %}
        {% include components/search_footer.html %}
      {% endif %}

      {% if site.mermaid %}
        {% include components/mermaid.html %}
      {% endif %}
    </main>
  </div>
</body>
</html>
