<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>
<body>
  <header>
    <!-- Other header elements -->
    <input type="search" placeholder="Search Decoding the AI Pen">
  </header>
  <!-- Other body elements -->
  <footer>
    <ul class="aux-links">
      <li><a href="https://decoding-the-ai-pen.github.io/assets/slides/dummy_slide.pptx" class="complete-slide-deck">Complete Slide Deck</a></li>
    </ul>
  </footer>
</body>
</html>
